.header
    color: white
    display: flex
    justify-content: end
    padding: 12px
    svg
        position: fixed
        top: 13px
        right: 375.5px
        font-size: 12px
        cursor: pointer
        font-size: 34px
        @media (max-width: 1200px)
            right: 17.5px
    span
        position: fixed
        top: 34px
        right: 387.5px
        font-size: 17px
        color: white
        background: #1ddfd8
        border-radius: 50%
        width: 15px
        height: 15px
        padding: 2.5px
        display: flex
        justify-content: center
        align-items: center
        @media (max-width: 1200px)
            right: 28.5px
