*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #202020;
  font-size: 16px;
  color: #1ddfd8;
}

button {
  border: none;
  padding: 0.7rem 0.7rem;
  border-radius: 2rem 0 2rem 0;
  color: #1ddfd8;
  background: linear-gradient(to right, #000000, #6a6c6c);
  transition: all 0.4s;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
button:hover {
  background: linear-gradient(to right, #00FF00, #0099FF);
  color: #800080;
  border-color: #FFD700;
  background-color: #FFD700;
  outline: none;
  border-radius: 0rem 2rem 0 2rem;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

section > :nth-child(3) {
  align-self: center;
  justify-content: center;
  display: flex;
}


.loading {
  color: #1ddfd8;
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 10px;
  margin-right: 1rem;
  padding-bottom: 15px;
  background-image: linear-gradient(to right, #2d1818, #50548d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-items: center;
}

.items {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
}

@media (max-width: 400px) {
  .items{
    margin-left: 0;
  }
}